@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Bienvenue sur le site de Cavavin.</h1>
    <br />
    <p>Découvrez notre nouvelle gamme d'Hydromels parfumés : <a href="https://docs.microsoft.com/aspnet/core">Cavavin - Hydromels Aromatisés</a>.</p>

    <br />
    <h3>Site en travaux, n'oubliez pas de porter votre casque de chantier'.</h3>
</div>
